* {
    font-family: 'Lato', sans-serif;
}



.main{
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to top right, #3612FD, #765EFA);
    display: flex;
    align-items: center;
    justify-content: center;
}
.glass {
    background: #FFDA49;
    padding:1rem;
    min-height: 60vh;
    width: 40rem;
    background: linear-gradient(
    to right bottom,
        rgba(255, 203, 0, 0.7),
        rgba(255, 218, 73, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    background-color: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.logo img {
    width: 100%;
}

.title, .subtitle {
    text-align: center;
    color: #ffffff;
}

.title {
    font-weight: bolder;
    font-size: 35px;
}
.subtitle {
    font-size: 18px;
}
.form-group {
    text-align: center;
    color:#ffffff;
    margin-bottom: 20px;
}

.btn {
    width: 250px;
    margin-top: 10px;
    border-style: solid;
    color: #ffffff
}
.signin-btn {
    background-color: #65c907;
    color: white;
    margin-top: 30px;
}

.btn-success {
    background-color: rgba(253, 206, 15, 0.7);
    opacity: 0.8;
    filter: alpha(opacity=20)
  }