<div class="container">
        <form (ngSubmit)="onClickReply()">
          <h1>{{this.originalPoster.firstName}} {{this.originalPoster.lastName}} is asking for prayer for: {{this.selectedRequest.prayerAsk}}</h1>
          <h2>Respond to Prayer:</h2>
          <br>
          <textarea ngModel rows = "5" cols = "60" name = "description" [(ngModel)] = "prayerResponse.prayerTextResponse" >
        </textarea>
          <br>
          <button type="submit" class="btn btn-success" >Reply</button>
        </form>

  </div>