* {
    font-family: 'Lato', sans-serif;
}



.login-div {
    margin: 100px auto;
    width: 400px;
    background-color: rgb(1, 118, 252);
    padding: 60px;
    border-radius: 35px;
}

.logo {
    background-color: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.logo img {
    width: 100%;
}

.title, .subtitle {
    text-align: center;
    color: #ffffff;
}

.title {
    font-weight: bolder;
    font-size: 35px;
}
.subtitle {
    font-size: 18px;
}
.form {
    text-align: center;
    color:#ffffff;
}

.btn {
    width: 200px;
    margin-top: 5px;
    border-style: solid;
    border-color: black;
    color: #ffffff
}