* {
    font-family: 'Lato', sans-serif;
}



.login-div {
    background: #FFDA49;
    padding:1rem;
    min-height: 80vh;
    width: 30rem;
    background: linear-gradient(
      to right bottom,
      rgba(255, 203, 0, 0.7),
      rgba(255, 218, 73, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    background-color: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.logo img {
    width: 100%;
}

.title, .subtitle {
    text-align: center;
    color: #ffffff;
}

.title {
    font-weight: bolder;
    font-size: 35px;
}
.subtitle {
    font-size: 18px;
}
.form {
    text-align: center;
    color:#ffffff;
    margin-bottom: 20px;
}
.password {
    margin-bottom: 20px;
}
main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to top right, #3612FD, #765EFA);
    display: flex;
    align-items: center;
    justify-content: center;
  }
