* {
    font-family: 'Lato', sans-serif;
}



.login-div {
    margin: 100px auto;
    width: 400px;
    background-color: rgb(1, 118, 252);
    padding: 60px;
    border-radius: 35px;
}

.logo {
    background-color: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.logo img {
    width: 100%;
}

.title, .subtitle {
    text-align: center;
    color: #ffffff;
}

.title {
    font-weight: bolder;
    font-size: 35px;
}
.subtitle {
    font-size: 18px;
}
.form {
    text-align: center;
    color:#ffffff;
    margin-bottom: 20px;
}

.btn {
    width: 250px;
    margin-top: 10px;
    border-style: solid;
    color: #ffffff
}
.signin-btn {
    background-color: #65c907;
    color: white;
    margin-top: 30px;
}

.register-btn {
    background-color: #001aff;
    
}