main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to top right, #3612FD, #765EFA);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .glass {
    background: #FFDA49;
    padding:1rem;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 203, 0, 0.7),
      rgba(255, 218, 73, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 20%;
  right: 15%;
}
.circle2 {
  bottom: 5%;
  left: 10%;
}

.request-container {
    display: flex;
    padding: 2rem;
    margin-top: 1rem;
    flex-direction: column;
    background: linear-gradient(
    to right bottom,
    rgba(255, 161, 0, 0.7),
    rgba(255, 188, 73, 0.3)
  );
  border-radius: 2rem;
}

.btn-danger {
  background-color: rgba(255, 38, 0, 0.7);
  opacity: 0.8;
  filter: alpha(opacity=20);
}

.btn-info {
  color: white;
  background-color: #765EFA;
  opacity: 0.8;
  filter: alpha(opacity=20);
  /* background-color: linear-gradient(
    to right bottom,
  rgba(76,45,253, 0.7)
  rgba(154, 138, 248, 0.3) 
    ); */
  }

.btn-light {
  background-color: #c2b8fc;
  opacity: 0.8;
  filter: alpha(opacity=20);
}
