@media only screen and (max-width:500px) {
  .glass {
    height: 80vh;
    width: 80%;
}
  table,thead,tbody,th,td,tr{
    display:block;
  }
  
}
main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to top right, #3612FD, #765EFA);
    display: flex;
    justify-content: center;
     
  }

  .glass {
    background: #FFDA49;
    padding: 1rem;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 203, 0, 0.7),
      rgba(255, 218, 73, 0.3)
    );
    border-radius: 2rem;
    z-index: 200;
    backdrop-filter: blur(2rem);
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 20%;
  right: 15%;
  z-index: 100;
}
.circle2 {
  bottom: 5%;
  left: 10%;
  z-index: 100;
}

.container-fluid {
    display: flex;
    padding: 1rem;
    margin-top: 2rem;
    flex-direction: column;
    background: linear-gradient(
    to right bottom,
    rgba(255, 161, 0, 0.7),
    rgba(255, 188, 73, 0.3)
  );
  border-radius: 2rem;
}

.btn-danger {
  background-color: rgba(255, 38, 0, 0.7);
  opacity: 0.8;
  filter: alpha(opacity=20);
}

.btn-info {
  color: white;
  background-color: #765EFA;
  opacity: 0.8;
  filter: alpha(opacity=20);

  }

.btn-light {
  background-color: #c2b8fc;
  opacity: 0.8;
  filter: alpha(opacity=20);
}


