main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to top right, #0d6efd, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .glass {
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
    justify-content: center;
  }

  .circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 20%;
  right: 15%;
}
.circle2 {
  bottom: 5%;
  left: 10%;
}

.welcome {
    margin-top: 2rem;
    text-align: center;
}

.request-container {
    display: flex;
    padding: 2rem;
    margin-top: 10rem;
    flex-direction: column;
    background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}
.submit-btn {
    display: flex;
    justify-items: flex-end;
    align-items: flex-end;
}
textarea {
    padding: .7rem;
    border-style: none;
    border-radius: 2rem;
    margin-bottom: .5rem;
}