<div class="container">
    <h1>Unanswered Prayer Requests</h1>
    <div class="prayer-requests" ></div>
        <table class ="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Prayer Request</th>
                    <th>Reply</th>
                </tr>
            </thead>
            <tbody  *ngIf="listOfRequests && listOfRequests.length > 0">
                <tr *ngFor="let request of listOfRequests">
                    <td><span>{{request.dateTime}}</span></td>
                    <td><span>{{request.prayerAsk}}</span></td>
                    <td><span><a [routerLink]="['/prayerresponses',this.request.requestId]"><button type="button" class="btn btn-info" (click) ="onClickReply(this.request.requestId)">Reply</button></a></span></td>

                </tr>
            </tbody>
        </table>
    </div>